<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>632066093183-ninvnnssltgiv4kq68hip6ek1ei7nj1p.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.632066093183-ninvnnssltgiv4kq68hip6ek1ei7nj1p</string>
	<key>API_KEY</key>
	<string>AIzaSyANACzRhIg82TUOohrohsVnGWum7RaT2MY</string>
	<key>GCM_SENDER_ID</key>
	<string>632066093183</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.company.HSLive</string>
	<key>PROJECT_ID</key>
	<string>sportsapp-29e3f</string>
	<key>STORAGE_BUCKET</key>
	<string>sportsapp-29e3f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:632066093183:ios:fb195020d0ebe129f04f4a</string>
</dict>
</plist>